<header>
         
    <nav class="container-grid cabecalho">
         <div class="container-grid cabecalho">
             <a routerLink="/gamemania"><img src="/assets/img/icone pagina.png" class="logoGame"></a>
             
             <div id="botoes2" class="botoes2">
                <a class="btn btn-gmania btn-sm" routerLink= "/login" role="button" >Entrar</a>
                <a class="btn btn-gmania btn-sm" href="#" role="button">Cadastre-se</a>
            </div>

                <form action="O q" method="post">
                    
                    <div id="caixaSearch" class="caixaSearch">  
                    <input type="search" onClick="Search" id="busca" name="palavra" value="" Placeholder="O que você está procurando?">
                    </div>
                </form>
                <div id="botoes">
                    <a class="btn btn-gmania btn-lg" routerLink= "/login" role="button" >Entrar</a>
                    <a class="btn btn-gmania btn-lg" href="#" role="button">Cadastre-se</a>
                </div>
         </div>
         <!-- </div> -->
        <br>
    </nav>


    <section class="container-fluid links">
        <a onClick="mostrarMenu()" href="#" id="barras"><img class="icone-menu" src="bars-solid.svg" alt="icone do menu de barras"> </a>
        
        <nav id="menu" class="menu">
                <a href= "#">Eletrônicos</a>
                <a href= "#">PC Gamer</a>
                <a href= "#">Games</a>
                <a href= "#">Novidades</a>
                <a href= "#">Blog da Game</a>
        </nav>
    </section>
    <br><br>
</header>

<main>
    <section class="banner">
        <div class="container-fluid">
            <img src="/assets/img/stray.png" class="banner">
            <div class="vejamais-banner">
                <a href= "#">Veja mais</a>
            </div>
        </div>
    </section>

<section class="comecoLoja"></section>
    <section class="loja"> 
      <h1> O que você mais deseja está aqui </h1>
    </section>
    <br><br><br>

    <section id="flechas" class="flechas">
        <div class="flechaUm">
            <img src="/assets/img/flecha (1).png" alt="Flecha direita">
        </div>

        <div class="flechaDois">
            <img src="/assets/img/flecha.png" alt="Flecha esquerda">
        </div>
    </section>

    <div class="produtos d-flex align-items-center">
    <section class="container-fluid produtos01 d-flex bd-highlight"> 
        <div class="headphone">
            <a class="" href="#"><img src="/assets/img/headphone foto.png" id="fotosLoja" class="img-fluid" alt="Headphone" width="200px">
             <div class="conteudo-loja-textos">
                <div class="box">
                     <h2>Headset Gamer HyperX Cloud Stinger, Drivers 50mm,Mútiplas...</h2>
                    <h2>R$ 249,90</h2>
                     <p>À vista no PIX</p>
                     <br> 
                </div>
             </div></a>
        </div>   

         <div class="xbox">             
            <a class="" href="#"><img src="/assets/img/xbox foto.png" id="fotosLoja" class="img-fluid" alt="Xbox" width="200px">
            <div class="conteudo-loja-textos">
                <div class="box">
                    <h2>Console Microsoft Xbox Serie S, 512GB, Branco - RRS-00006</h2>
                    <h2>R$ 2.299,90</h2>
                    <p>À vista no PIX</p>
                     <br> 
                </div>
             </div></a>
         </div>


         <div class="tela">
            <a class="" href="#"><img src="/assets/img/tela foto.png" id="fotosLoja" class="img-fluid" alt="Tela" width="200px">
            <div class="conteudo-loja-textos">
                <div class="box">
                    <h2>Monitor Gamer LG Ultra Gear 23.8 Full HD, 144Hz, 1ms, IPS, DMI, DisplayPor...</h2>
                        <h2>R$ 1.299,90</h2>
                         <p>À vista no PIX</p> 
                        <br>
                 </div>
            </div></a>
        </div>

        <div class="teclado">
            <a class="" href="#"><img src="/assets/img/teclado foto.png" id="fotosLoja" class="img-fluid" alt="Teclado" width="200px">
            <div class="conteudo-loja-textos">
                <div class="box">
                 <h2>Teclado Mecânico Gamer HyperX Mars RGB, Switch Outemu Blue, US...</h2>
                 <h2>R$ 329,90</h2>
                <p>À vista no PIX</p>
                <br>
                </div>
            </div></a> 
        </div> 

        <section class="loja">
        <div id="botaoVermais" class="botaoVermais">
            <a class="btn btn-gmania btn-lg" href= "#" role="button" >Ver mais</a>
        </div>
          </section>


    <!-- </div> -->
<!-- </section> -->
<!-- </section><br><br> -->

    <section class="eldenring">
        <img src="/assets/img/elden ring.png" class="banner">

        <a class="btm" id="botaocompreaqui" href="#" role="button">
            <div class="botaocompreaqui"> 
                <p>Compre aqui</p>
                <img src="/assets/img/Rectangle 51.png" alt="Icone de compra">
            </div>
        </a>

        <a class="btm" id="botaocompreaqui2" href="#" role="button">
            <div class="botaocompreaqui"> 
                <p>Compre aqui</p>
                <img src="/assets/img/Rectangle 51.png" alt="Icone de compra" height="60px">
            </div>
        </a>
        <br><br><br>
        
    </section>
    <section class="comecoDados">
        <section class="search container-fluid">
            <form action="O q" method="post">
                            
                <div id="caixaSearch2" class="caixaSearch2">  
                <input type="search" id="busca" name="palavra" value="" Placeholder="O que você está procurando?">
                </div>
            </form>
        </section>

        <section id="logofinal" class="logofinal">
            <a routerLink="gamemania.html"><img src="/assets/img/logo.png" alt="Logo rodapé"></a>
        </section>
    </section>

<!-- </div> -->
<!-- </main> -->
<footer>
        <div class="footer">
            <div class="d-flex bd-highlight">
                    <section id="colunasDesktop" class="container1">
                        <section class="container2 column">
                                <a class="item dados" href= "#">Minha Conta</a>
                                <a class="item dados" href= "#">Meus Pedidos</a>
                                <a class="item dados">Sobre Nós</a>
                                <a class="item dados">Políticas de Privacidade</a>
                        </section>

                        <section class="container2 column">
                            <div class="item contato">Contato</div>
                            <div class=" item contato1">
                                <p>E-mail: loja@gamemania.com
                                <p>Telefone: (11) 0000-0000</p>
                                <p>Whatsapp: (11) 90000-0000</p>
                            </div>
                        </section>

                        <section class="container2 column">
                            <div class="item atendimento">Atendimento</div>
                            <div class="item atendimento1">
                                <p>Horário de atendimento:</p>
                                <p>08:00 às 20:00 -</p>
                                <p> Segunda a Sábado,</p>
                                <p>horário de Brasília.</p>
                                    
                                <p>Endereço:</p>
                                <p>Rua da Loja, 132. São Paulo. CEP 80888-80</p>
                            </div>
                        </section>

                        <section class="container2 column"> 
                            <div class="item ondeestamos">Onde Estamos</div>
                            <div class="item mapa">
                                <a href="#"><img src="/assets/img/Mapa.png" alt="Mapa"></a>
                            </div>
                        </section>
                        

                        <section class="container2 column">
                            <div class="item redessociais">Nossas Redes Sociais</div>
                            <section class="container3 d-flex bd-highlight">
                            <div class="item1">
                                <a href="#"><img src="/assets/img/icone facebook.png" alt="Icone Facebook" width="50px" height="50px"></a>
                            </div>
                            <div class="item1">
                                <a href="#"><img src="/assets/img/icone instagram.png"  alt="Icone Instagram" width="50px" height="50px"></a>
                            </div>
                            </section>
                            <!-- </div> -->
                        <!-- </section>  -->
                    </section>

                    <div class="comecoFooter">
                        <div class="d-flex bd-highlight">
                        <section id="colunasIpad" class="container1">

                            <section class="colunasIpad">
                                <div class="redessociais">Nossas Redes Sociais</div>
                                <section class="container2 d-flex bd-highlight">
                                <div class="item1">
                                    <a href="#"><img src="/assetsimg/icone facebook.png" alt="Icone Facebook" width="50px" height="50px"></a>
                                </div>
                                <div class="item2">
                                    <a href="#"><img src="/assets/img/icone instagram.png"  alt="Icone Instagram" width="50px" height="50px"></a>
                                </div>
                                </section>
                        

                            <section class=""> 
                                <div class="ondeestamos">Onde Estamos</div>
                                <div class="mapa">
                                    <a href="#"><img src="/assets/img/Mapa.png" alt="Mapa"></a>
                                </div>
                            </section>

                            <section class="">
                                <div class="item atendimento">Atendimento</div>
                                <div class="atendimento1">
                                    <p>Horário de atendimento: 08:00 às 20:00 - Segunda a Sábado, horário de 
                                        Brasília.</p>
                                    <p>Endereço: Rua da Loja, 132. São Paulo. CEP 80888-80</p>
                                </div>
                            </section>
                            <section class="container-grid">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="#"><div class="item dados minhaConta">Minha Conta</div></a>
                                        <a href="#"><div class="item dados meusPedidos">Meus Pedidos</div></a>
                                </div>
    
                                <div class="col-sm">
                                    <a href="#"><div class="item dados sobreNos">Sobre Nós</div></a>
                                    <a href="#"><div class="item dados politica">Políticas de Privacidade</div></a>
                            </div>
                            <div class="col-sm">
                                    <div class="item contato">Contato</div>
                                    <div class=" item contato1">
                                        <p>E-mail: loja@gamemania.com
                                        <p>Telefone: (11) 0000-0000</p>
                                        <p>Whatsapp: (11) 90000-0000</p>
                                    </div>
                                </div>
                            <!-- </section>
     -->
                    
                            <section id="logofinal2" class="logofinal2 container-fluid">
                                <a href="gamemania.html"><img src="/assets/img/logo.png" alt="Logo rodapé"></a>
                            </section>
                    <!-- </div>  -->
                <!-- </div>      -->
        <!-- </div> -->
    <!-- </footer> -->